:root {
    --fuente: "Work Sans", sans-serif;
    --color1: rgba(58, 104, 147, 1);
    --color2: rgba(85, 147, 203, 1);
    --color3: rgba(154, 206, 255, 1);
}

/*Diseño General*/
body {
    font-family: var(--fuente);
}

.logo {
    width: 50px;
    /* Ajusta el ancho de la imagen */
    height: auto;
    /* Ajusta automáticamente la altura para mantener la proporción */
}

h1 {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: black;
}

a :hover {
    text-decoration: none;
}

/*adornos diseño*/
.adorno-index {
    background-color: rgba(58, 104, 147, 1);
    color: white;
    font-weight: 700;
    font-size: x-large;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    /* Posiciona el elemento de forma relativa */
    z-index: 3;
    /* Define el orden de apilamiento */
    padding: 10px;
}

.adorno1 {
    background-color: rgba(58, 104, 147, 1);
    color: white;
    font-weight: 700;
    font-size: x-large;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    /* Posiciona el elemento de forma relativa */
    z-index: 3;
    /* Define el orden de apilamiento */
    padding: 10px;
}

.adorno2 {
    background-color: rgba(85, 147, 203, 1);
    color: rgba(85, 147, 203, 0);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    /* Posiciona el elemento de forma relativa */
    top: -15px;
    /* Desplaza hacia arriba para la superposición */
    z-index: 2;
    /* Define el orden de apilamiento */
}

.adorno3 {
    background-color: rgba(154, 206, 255, 1);
    color: rgba(154, 206, 255, 0);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    /* Posiciona el elemento de forma relativa */
    top: -30px;
    /* Desplaza hacia arriba para mayor superposición */
    z-index: 1;
    /* Define el orden de apilamiento */
}

/*ID's*/
.id-pag {
    background-color: #F1EEA4;
    display: inline-block;
    /*adapta el tamaño a la extensión del texto*/
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px;
}

.txt-id-pag {
    text-align: right;
    margin-right: 10px;
}

/*div "olvidé mi contraseña"*/
.forgot {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-top: 20px;
}

.forgot p {
    margin: 0;
    text-decoration: underline;
    color: gray;
    cursor: pointer;
}

.btn-forgot{
    background-color: none;
}


/*Aplica al título de cada gasto agregado*/
p {
    text-align: left;
    font-weight: bold;
    margin-top: 20px;
}

/*FORMULARIOS*/
/*fieldset de ingreso datos*/
fieldset {
    margin: 90px 90px;
    margin-top: auto;
    border: 1px solid var(--color1);
    border-radius: 0.5rem;
    text-align: center;
    margin-bottom: 10px;
}

/*Tamaño del título del fieldset para evitar que se vea feo en pantallas chicas*/
legend{
    font-size:medium;
}

/*Ajuste del fieldset a pantallas chicas*/
@media (max-width:768px) {
    fieldset {
        margin: 20px 20px;
    }
}

/*fila que contiene las columnas con los campos de texto*/
.row {
    padding: 10px;
    padding-bottom: 10px;
    justify-content: center;
}

/*estilo interior campos de texto*/
.input {
    background-color: #d9d9d9;
    border-style: none;
    border-radius: 30px;
    height: 30px;
    display: block;
    margin: 0 auto;
    width: 200px;
}

/*ancho del boton mostrar pass*/
.btn-outline-secondary {
    height: 30px;
}

/*ancho input rut*/
.inputRut, .inputPass{
    width: 100%;
}

.login{
    width: 400px;
}


/*Botones pagina inicio*/
.botones_inicio {
    display: flex;
    justify-content: center;
    gap: 90px;
}

/*boton logout*/
.logout {
    background-color: #F07B7D;
    position: fixed;
    right: 0;
    width: 150px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    direction: rtl;
    cursor: pointer;
}

.logout:hover {
    position: fixed;
    right: 0;
    width: 150px;
    background-color: #A05557;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    direction: rtl;
    cursor: pointer;
}

.txt-logout {
    text-align: right;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

/*boton ingresar*/
.btn_ingresar {
    background-color: #81F867;
    width: 160px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px;
    margin-bottom: 10px;
    align-items: center;
    text-align: right;
}

.txt-btn-ingresar {
    margin-right: 10px;
}

.btn_ingresar:hover {
    background-color: #66BF52;
    width: 160px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px;
    align-items: center;
    text-align: right;
}

#datosIngresados {
    border: none;
}

.tituloGastos {
    display: flex;
    align-items: center;
    /* Centra verticalmente los elementos */
    justify-content: space-between;
    /* Asegura que el título y el botón se distribuyan con espacio entre ellos */
    width: 100%;
    /* Asegura que ocupe el ancho completo del contenedor padre */
    padding: 10px;
    /* Espaciado interno (opcional) */
    border-radius: 5px;
    /* Bordes redondeados (opcional) */
}

/*estilo de las celdas de los gastos ingresados*/
.agregar {
    background-color: #d9d9d9;
    border-style: none;
    border-radius: 50px;
}

/*Boton borrar gasto*/
.btn-delete {
    display: flex;
    /* Utilizar flexbox para el alineado */
    align-items: center;
    /* Centrar verticalmente el contenido */
    cursor: pointer;
    /* Cambiar el cursor para indicar que es clickeable */
    padding: 1rem;
    justify-content: center;
    margin-top: 0%;
}

/*texto que acompaña el icono de borrar gasto*/
.delete {
    font-weight: lighter;
    margin: 0;
    line-height: 25px;
}

/*boton finalizar*/
.btn-finalizar {
    background-color: #F07B7D;
    margin-top: 10px;
    left: 0;
    margin-bottom: 5px;
    width: 150px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px;
    align-items: center;
    text-align: right;
}

.txt-btn-finalizar {
    margin-right: 10px;
}

.btn-finalizar:hover {
    background-color: #A05557;
    width: 150px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px;
    align-items: center;
    text-align: right;
}

/*boton volver*/
.btn-volver {
    background-color: #738DF8;
    position: fixed;
    right: 0;
    bottom: 5px;
    width: 150px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    direction: rtl;
    cursor: pointer;
}

.txt-btn-volver {
    text-align: right;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.btn-volver:hover {
    background-color: #586DBD;
    position: fixed;
    right: 0;
    width: 150px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    direction: rtl;
    cursor: pointer;
}

/*elimina el cursor en campor de texto total y diferencia*/
#total,
#diferencia {
    pointer-events: none;
    user-select: none;
}

/* Ocultar los botones de incremento y decremento (^) en campos de tipo number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    /* Firefox */
}

/*icono+titulo pantalla enviado*/
.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

/*modal: Mensaje de confirmación antes de enviar*/
.modal-footer {
    display: inline-block;
    margin-left: 10px;
    font-size: small;
    text-align: center;
}

.modal-footer-btns {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.modal-header {
    display: flex;
    justify-content: center;
}

/*botones modal*/
.btn {
    font-weight: 700;
    --bs-btn-bg: var(--color1);
    --bs-btn-hover-bg: var(--color2);
    --bs-btn-hover-border-color: var(--color2);
    --bs-btn-border-color: var(--color1);
    --bs-btn-active-bg: var(--color1);
    --bs-btn-active-border-color: var(--color1);
    --bs-btn-hover-color: beige;
    --bs-btn-active-color: beige;
    border-radius: 50px;
    color: beige;
}